* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Celsius */

#ResultF {
  border:1px solid;
  width:45px;
  height:20px;
}

/* Fahrenheit */

#ResultC {
  border:1px solid;
  width:45px;
  height:20px;
}